body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1f2937;
}

.calculadora {
    background: #111827;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: right;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9fafb;
    color: #000;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
}